<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Visuocial - Dashboard</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
   <link rel="stylesheet" href="css/base.css">  
   <link rel="stylesheet" href="css/main.css">
   <link rel="stylesheet" href="css/vendor.css">  

   <style type="text/css" media="screen">

   	#overview { 
   		background: white;
   		padding-top: 5rem;
   		padding-bottom: 5rem;
   	}

    #mood-analysis { 
      background: #f2f2f2;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus {
        background-color: #d9d9d9;
      } 

    /* override bootstrap's settings to respect endline in tooltips */
    .tooltip-inner {
      white-space:pre-wrap;
    }

    /* For sentiment symbols */
    a.sentiment:hover, a.sentiment:focus {
      text-decoration: none;
      cursor: pointer;
    }
      	
   </style>   

   <!-- script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body id="top">
    <% include inc/analyticstrackinggoogle.ejs %>
    <% include inc/analyticstrackingazure.ejs %>

   <!-- header 
   ================================================== -->
   <header>

      <div class="row">

         <div class="logo">
            <a href="/">Visuocial</a>
         </div>

         <nav id="main-nav-wrap">
            <ul class="main-navigation">
               <li><a class="smoothscroll" href="#overview" title="">Overview</a></li>
               <li><a class="smoothscroll" href="#mood-analysis" title="">Analysis</a></li>
               <li class="highlight with-sep"><a href="/logout" title="">Log out</a></li>              
            </ul>
         </nav>


         <a class="menu-toggle" href="#"><span>Menu</span></a>
         
      </div>      
      
   </header> <!-- /header -->

      <!-- intro section
   ================================================== -->
   <section id="features">
      <div class="row section-intro">
         <div class="col-twelve">
           <h1>Welcome</h1>
        </div>  
      </div>
      <div class="row section-intro">
          <div class="col-four tab-full">
             <a id="link_fb_button" class="button button-disabled full-width">Link Facebook <i class="fa fa-facebook"></i></a>
             <h6 id="link_fb" style="text-align: center;"></h6>
             <% if (user.facebook.token) { %>
                <h6><%= user.facebook.name %></h6>
             <% } %>
          </div>
          <div class="col-four tab-full">
             <a id="link_twitter_button" class="button button-disabled full-width">Link Twitter <i class="fa fa-twitter"></i></a>
             <h6 id="link_twitter" style="text-align: center;"></h6>
             <% if (user.twitter.token) { %>
                <h6><%= user.twitter.displayName %></h6>
             <% } %>
          </div>
          <div class="col-four tab-full">
             <a id="link_insta_button" class="button button-disabled full-width">Link Instagram <i class="fa fa-instagram"></i></a>
             <h6 id="link_insta" style="text-align: center;"></h6>
             <% if (user.instagram.token) { %>
                <h6><%= user.instagram.displayName %></h6>
             <% } %>
          </div>
      </div>

   </section> <!-- /intro -->

   <section id="process">
      <div class="row">
         <div class="col-twelve tab-full" style="text-align:center;">
         <img src="images/loading.gif"/>
         <h5 id="loading-text">Fetching Data...</h5>
         </div>
      </div>
   </section>

   <section id="overview" style="display:none;">
      <div class="row">
         <div class="col-twelve tab-full">
            <h1>Activity Overview</h1>
         </div>
      </div>

      <div class="row">
         <div id="radio-range-div" class="col-four tab-full">
            <h5>Time-range</h5>
            <select class="form-control" id="time-range-selector">
                <option value="7" selected>1 week</option>
                <option value="14">2 weeks</option>
                <option value="21">3 weeks</option>
                <option value="28">4 weeks</option>
                <option value="35">5 weeks</option>
                <option value="42">6 weeks</option>
                <option value="49">7 weeks</option>
                <option value="56">8 weeks</option>
            </select>
            <br>
         </div>
         <div id="visualization-type-div" class="col-four tab-full">
            <h5>Visualization type</h5>
            <select class="form-control" id="visualization-type-selector">
                <option value="wordCloud" selected> Word Cloud</option>
                <option value="stackedBars"> Stacked Bars</option>
                <option value="graph"> Graph</option>
                <option value="donut"> Donut</option>
            </select>
            <br>
         </div>
         <div id="bar-type-div" class="col-four tab-full">
            <h5>Bar type</h5>
            <select class="form-control" id="bar-type-selector">
                <option value="stacked" selected> Stacked</option>
                <option value="grouped"> Grouped</option>
            </select>
            <br>
         </div>
         <div id="wordcloud-type-div" class="col-four tab-full">
            <h5>WordCloud type</h5>
            <select class="form-control" id="wordcloud-type-selector">
                <option value="default" selected> All Words</option>
                <option value="topics" disabled> Topics</option>
                <option value="keywords" disabled> Keywords</option>
            </select>
            <br>
         </div>
      </div>

      <div class="row">
         <div class="col-twelve tab-full d3canvas" id="d3canvas">

         </div>
      </div>
    </section>

    <section id="mood-analysis" class="hidden-xs" style="display:none;">
      <div class="row">
         <div class="col-twelve tab-full">
          <div style="display:inline-block">
            <h1>Mood Analysis</h1>
          </div>
          <div style="float: right; text-align: center; vertical-align: middle; height: 60px">
              <i class="fa fa-4x fa-circle-o" style="color: #8c8c8c;" id="overall"> 0</i><br>
              <i class="fa fa-plus" style="color: green;" id="overall-pos"> 0</i>
              <i class="fa fa-circle-o" style="color: #8c8c8c;" id="overall-neutral"> 0</i>
              <i class="fa fa-minus" style="color: red;" id="overall-neg"> 0</i>
           </div>  
         </div>
      </div>

      <div class="row">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#facebook-activities" style="font-family: raleway-bold;">Facebook</a></li>
            <li><a data-toggle="tab" href="#twitter-activities" style="font-family: raleway-bold;">Twitter</a></li>
            <li><a data-toggle="tab" href="#instagram-activities" style="font-family: raleway-bold;">Instagram</a></li>
          </ul>
          <div class="tab-content">
            <div id="facebook-activities" class="col-twelve tab-full tab-pane fade in active">
              <div id="fb_table">
                 <div class="table-responsive" id="fb_posts">
                    <table>
                      <thead>
                        <tr><th>Mood</th><th>Post's Message</th><th class="timestamp">Timestamp</th></tr>
                      </thead>
                      <tbody id="fb_posts_tbody">
                      </tbody>
                    </table>
                 </div>
              </div>
            </div>

            <div id="twitter-activities" class="col-twelve tab-full tab-pane fade">
              <div id="twitter_table">
              <div class="table-responsive" id="twitter_posts">
                 <table>
                   <thead>
                     <tr><th>Mood</th><th>Tweet</th><th class="timestamp">Timestamp</th></tr>
                   </thead>
                   <tbody id="twitter_posts_tbody">
                   </tbody>
                 </table>
              </div>
              </div>
            </div>

            <div id="instagram-activities" class="col-twelve tab-full tab-pane fade">
              <div id="instagram_table">
                <div class="table-responsive" id="instagram_posts">
                   <table>
                     <thead>
                       <tr><th>Mood</th><th>Post's Caption</th><th class="timestamp">Timestamp</th></tr>
                     </thead>
                     <tbody id="instagram_posts_tbody">
                     </tbody>
                   </table>
                </div>
              </div>
            </div>  
      </div>
      <!-- <div class="col-twelve tab-full" >
        <h3>Raw Json.</h3>
        <p id="raw_content"></p>
      </div> -->
    </div>
   </section>

   <% include inc/footer.ejs %>
   
   <!-- Additional scripts for Visualization, for dashboard only -->
   
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

   <link rel="stylesheet" href="css/d3canvas.css">  
   <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

   <script src="js/d3js/common.js"></script>
   <script src="js/d3js/stacked-to-grouped_bars.js"></script>
   <script src="js/d3js/stopwd.js"></script>
   <script src="js/d3js/word-cloud.js"></script>
   <script src="js/d3js/graph.js"></script>
   <script src="js/d3js/donut.js"></script>
   <script src="js/dashboard.js"></script>

</body>

</html>