<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Visuocial - Demo</title>
	<meta name="description" content="">  
	<meta name="author" content="">

    <% include inc/header.ejs %>
    
   <style type="text/css" media="screen">

   	#demo { 
   		background: white;
   		padding-top: 5rem;
   		padding-bottom: 5rem;
   	}
   </style>   

</head>

<body id="top">
    <% include inc/analyticstrackinggoogle.ejs %>
    <% include inc/analyticstrackingazure.ejs %>

   <!-- header 
   ================================================== -->
   <header>

      <div class="row">

         <div class="logo">
            <a href="/">Visuocial</a>
         </div>

         <nav id="main-nav-wrap">
            <ul class="main-navigation">
               <li><a class="smoothscroll" href="#demo" title="">Demo</a></li>
               <% if (isAuthenticated) { %>
                   <li class="highlight with-sep"><a href="/dashboard" title="">Dashboard</a></li>
                   <li class="highlight with-sep"><a href="/logout" title="">Log out</a></li>
               <% } else { %>
                   <li class="highlight with-sep"><a href="/login" title="">Log in</a></li>
               <% } %>
            </ul>
         </nav>


         <a class="menu-toggle" href="#"><span>Menu</span></a>
         
      </div>      
      
   </header> <!-- /header -->
   
    <section id="features">
      <div class="row section-intro">
          <div class="col-twelve tab-full">
             <h1>Visuocial Video Demo</h1>
          </div>
      </div>

   </section> <!-- /intro -->

   <section id=demo>
        <div class="row"><div class="col-twelve tab-full">
            <h1>Video Demonstration</h1> 
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/K6_m9YsROkg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div></div>
   </section>

   <% include inc/footer.ejs %>

</body>

</html>