<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Visuocial - FAQ</title>
	<meta name="description" content="">  
	<meta name="author" content="">

    <% include inc/header.ejs %>

</head>

<body id="top">
    <% include inc/analyticstrackinggoogle.ejs %>
    <% include inc/analyticstrackingazure.ejs %>

   <!-- header 
   ================================================== -->
   <header>

      <div class="row">

         <div class="logo">
            <a href="/">Visuocial</a>
         </div>

         <nav id="main-nav-wrap">
            <ul class="main-navigation">
               <li><a class="smoothscroll" href="#faq" title="">FAQ</a></li>
               <% if (isAuthenticated) { %>
                   <li class="highlight with-sep"><a href="/dashboard" title="">Dashboard</a></li>
                   <li class="highlight with-sep"><a href="/logout" title="">Log out</a></li>
               <% } else { %>
                   <li class="highlight with-sep"><a href="/login" title="">Log in</a></li>
               <% } %>
            </ul>
         </nav>


         <a class="menu-toggle" href="#"><span>Menu</span></a>
         
      </div>      
      
   </header> <!-- /header -->
   
    <section id="features">
      <div class="row section-intro">
          <div class="col-twelve tab-full">
             <h1>Frequently Asked Questions</h1>
          </div>
      </div>

   </section> <!-- /intro -->

   <section id=faq>
        <div class="row section-intro">
            <div class="col-twelve with-bottom-line">
                <h5>Faq</h5>
                <h1>Questions and Answers.</h1>
                <p class="lead">Have any questions in mind? Do not worry, we have compiled a list of Frequently Asked Questions below. If your questions are not in the list, feel free to <a href="/feedback">contact us</a>!</p>
            </div>   		
        </div>

        <div class="row faq-content">
            <div class="q-and-a block-1-2 block-tab-full group">
                <div class="bgrid">
                    <h3>How to try Visuocial?</h3>
                    <p>Simply log in to our application, and you will be redirected to the dashboard page straight away. It is intuitive and easy to navigate.</p>
                </div>
                <div class="bgrid">
                    <h3>What personal data is stored?</h3>
                    <p>We only store your username and email from the authorized social media accounts. The content of your social media posts and analysis shown in the dashboard page is freshly retrieved from the social media platforms, processed, and shown to user without storing any information.</p>
                </div>
                <div class="bgrid">
                    <h3>What are the security features?</h3>
                    <p>Our user's peace of mind is the top most priority. We use HTTPS connection, which encrypts all communications between your browser and our website.
                    We will safeguard your account and will not release your details to any third party.</p>
                </div>
                <div class="bgrid">
                    <h3>How to send us a feedback?</h3>
                    <p>Simple go to our <a href="/feedback">feedback</a> page, write, and submit your feedback. If email is more comfortable for you, feel free to email us at <a href="mailto:sky@u.nus.edu?Subject=Visuocial%20Contact" target="_top">sky@u.nus.edu</a></p>
                </div>
            </div> <!-- /q-and-a --> 
        </div> <!-- /faq-content --> 
   </section>

   <% include inc/footer.ejs %>

</body>

</html>