<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Visuocial - Visualize your social media activities</title>
	<meta name="description" content="Web application to aggregate and visualize user's past social media activities.">  
	<meta name="author" content="Steven Kester Yuwono">

	<% include inc/header.ejs %>

</head>

<body id="top">
	<% include inc/analyticstrackinggoogle.ejs %>
	<% include inc/analyticstrackingazure.ejs %>
	
	<!-- header 
   ================================================== -->
   <header>

   	<div class="row">

   		<div class="logo">
	         <a href="/">Visuocial</a>
	      </div>

	   	<nav id="main-nav-wrap">
				<ul class="main-navigation">
					<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
					<li><a class="smoothscroll"  href="#process" title="">Instructions</a></li>
					<li class="highlight with-sep"><a href="login" title="">Log In</a></li>
				</ul>
			</nav>

			<a class="menu-toggle" href="#"><span>Menu</span></a>
   		
   	</div>   	
   	
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">

   	<div class="shadow-overlay"></div>

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Welcome to Visuocial.</h5>
	   			<h1>Visualize your social media activities with ease.</h1>

	   			<a class="button stroke smoothscroll" href="#process" title="">Learn More</a>
            	<a class="button stroke" href="login" title="">Try Now</a>

	   		</div>  
   			
   		</div>
   	</div> 	

   </section> <!-- /intro -->


   <!-- Process Section
   ================================================== -->
   <section id="process">  

   	<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">

   			<h5>Instructions</h5>
   			<h1>How it works?</h1>

   			<p class="lead">Visualize your past social media activities with only a few clicks.</p>

   		</div>   		
   	</div>

   	<div class="row process-content">

   		<div class="left-side">

   			<div class="item" data-item="1">

   				<h5>Log in</h5>

   				<p>Log in with one of your social media account. We promise to safeguard your details. </p>
   					
   			</div>

   			<div class="item" data-item="2">

	   			<h5>Link</h5>

	   			<p>Link your other social media accounts - Facebook, Twitter, and Instagram to see more.</p>
   					
   			</div>
   				
   		</div> <!-- /left-side -->
   		
   		<div class="right-side">
   				
   			<div class="item" data-item="3">

   				<h5>View</h5>

   				<p>Choose and customize your view. View your aggregated social media activities in a nice graphical visualization.</p>
   					
   			</div>

   			<div class="item" data-item="4">

   				<h5>Share</h5>

   				<p>Share Visuocial with your friends.</p>
   					
   			</div>

   		</div> <!-- /right-side -->  

   		<div class="image-part"></div>  			

   	</div> <!-- /process-content --> 

   </section> <!-- /process-->    


   <% include inc/footer.ejs %>
  

</body>

</html>